@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scale-container {
  position: relative;
  width: 100%; /* Full width on the device */
  height: auto;
  padding-bottom: 150%; /* 16:9 aspect ratio (height/width * 100) */
}

.scaled-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transform: scale(1);
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.artist-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--artist-text-size, 0.8em);
}
.album-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--album-text-size, 1em);
}
.tracks-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--album-text-size, 0.5em);
}

@media (min-width: 768px) {
  .artist-text {
    font-size: calc(var(--artist-text-size) * 1.6);
  }
  .album-text {
    font-size: calc(var(--album-text-size) * 1.6);
  }
  .tracks-text {
    font-size: calc(var(--tracks-text-size) * 1.6);
  }
}
